@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.main_div{
  background-color: rgb(105, 196, 221);
    width: 100%; 
    height: 100vh;
    display:inline;
    text-align: center;
    display: flex;
    justify-content: space-between ;
  }

  .left_div{
    width: 50%; 
    float:left;
    display: inline-block;
    background-color: rgb(105, 196, 221);
    /* margin: 50px 100px;
    margin-top: 200px; */
    
  }
  .right_div {
    width: 50%; 
    float: right;
    background-color: rgb(105, 196, 221);
    padding: 23px;
    margin: 300px 47px 244px 103px;

  }

  h1{
    background-color: rgb(105, 196, 221);
    text-align: left;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 20%;
    font-family: 'Roboto Slab', serif;
  }
  img {
   margin-left: 50px;
   height: 75vh;
   width: 75vh;
  }

  h2 {
    background-color: rgb(105, 196, 221);
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
  }

  button1 {
    background-color: #256c96; 
    border: solid grey 2px;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin: 6px;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
  }

  button2 {
    background-color: #256c96; 
    border: solid grey 2px;;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin: 6px;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
  }

  